<!DOCTYPE html>
{%extends 'mobiles/base.html'%}
{% block body_block%}
    <div class="row">
    <div class="col"></div>
    <div class="col-lg-6">
    <form method="post" style="margin-top:50px;">
        {%csrf_token%}
        <label class="form-label">User Name</label>
        <input type="text" name="uname" class="form-control">
        <label class="form-label" style="margin-top:50px">Password</label>
        <input type="password" name="password" class="form-control">
        <input type="submit" style="margin-top:50px" value="Sign in" class="btn btn-success">
    </form>
        <p style="margin-top:50px;"><a href="{%url 'registraion'%}">Register here</a></p>
    </div>
    <div class="col"></div>
    </div>

{% endblock%}
